<!--============================
=            Footer            =
=============================-->
    <div class="footer-main scrollToTop" style="position: relative; left: 0; bottom: 0; width: 100%">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 ">
            <div class="block">
              <a href="index.html"><img src="assets/images/logo-alt.png" alt="footer-logo"></a>
              <!-- Social Site Icons -->
              <ul class="social-icon list-inline">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/themefisher"><i class="ti-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://twitter.com/themefisher"><i class="ti-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/themefisher/"><i class="ti-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
            <div class="block-2">
              <!-- heading -->
              <h5>Company</h5>
              <!-- links -->
              <ul>
                <li><a routerLink="/team">About</a></li>
                <li><a routerLink="/blog">Careers</a></li>
                <li><a routerLink="/blog">Blogs</a></li>


              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
            <div class="block-2">
              <!-- heading -->
              <h5>Products</h5>
              <!-- links -->
              <ul>

                <li><a routerLink="">Rates & Fees</a></li>
                <li><a routerLink="">Security</a></li>
                <li><a routerLink="">Refer Friends</a></li>

              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0 help">
            <div class="block-2">

              <!-- links -->
              <ul>
                <li><a routerLink="">Help</a></li>
                <li><a routerLink="">Feedbacks</a></li>
                <li><a routerLink="">Contact</a></li>

              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
            <div class="block-2">
              <p>株式会社RESPECT PAYMENT SERVICE
                〒124-0012 東京都葛飾区立石 5-２４-８
                コーポ大和２階 <br>
                 Tateishi 5-24-8
                <br>
                 Katsushika-Ku Tokyo 124-0012
                <br>
                TEL: 03-3366-1966
               <br>
                EmailL: info@rpsremit.com
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-user-agreement-component></app-user-agreement-component>
    <div class="text-center bg-dark py-4" style="position: relative; left: 0; bottom: 0; width: 100%; height: 80px;">
      <small class="text-secondary">Copyright &copy; 2020. Designed &amp; Developed by <a target="_blank"
          href="https://www.newitventure.com/en/">NITV</a></small> class="text-secondary">
    </div>
