# Ignore node_modules (where dependencies are stored)
node_modules/

# Ignore build artifacts
/dist/
/.angular/

# Ignore cache and temporary files
.cache/
*.log
*.tmp
*.pack


# Ignore environment-specific configuration
/src/environments/*.ts

# Ignore editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
