<section class="user-agreement w-100">
  <div class="user-agreement-head align-items-center d-grid justify-content-center align-items-center">
    <p class="d-flex justify-content-center align-items-center text-white">Send Money WorldWide</p>
    <p class="text-white">
      <span>Nepal | </span><span>India | </span><span>Australia | </span><span>Bangladesh | </span><span>Japan | </span
      ><span>America | </span><span>Dubai | </span><span>Korea | </span>China | <span>Canada | </span>Thailand | <span>Qatar | </span
      >SriLanka <span></span><span>& Many more </span>
    </p>
  </div>
  <div class="d-flex justify-content-around align-items-center py-5">
    <div class="col-lg-2col-md-3col-6mt-5mt-lg-0 ">
      <ul>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
      </ul>
    </div>
    <div class="col-lg-2col-md-3col-6mt-5mt-lg-0">
      <ul>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
      </ul>
    </div>
    <div class="col-lg-2col-md-3col-6mt-5mt-lg-0">
      <ul>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
        <li><a href=""></a>user agreement</li>
      </ul>
    </div>
  </div>
</section>
