

<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">
    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" [attr.aria-expanded]="isNavbarExpanded ? 'true' : 'false'"
      (click)="toggleNavbar()">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" [ngClass]="{'show': isNavbarExpanded}" id="navbarNav">
      <ul class="navbar-nav">


        <li class="nav-item-l">
          <a routerLink="" class="nav-link "><button>Login</button></a>
        </li>

        <li class="nav-item-l">
          <a routerLink="" class="nav-link "><button>Sign Up</button></a>
        </li>
        <!-- <li class="nav-item @@about">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item @@contact">
          <a class="nav-link" routerLink="/team" routerLinkActive="active">Team</a>
        </li>
        <li class="nav-item @@contact">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item @@contact">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li> -->

      </ul>
    </div>
  </div>
</nav>
